.background {
  background: radial-gradient(circle, #6a64ff 25%, #428cff); /* Fondo con gradiente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Para colocar detrás del contenido */
}

.content {
  color: black;
  width: 100%;
}

h1 {
  color: #333; /* Color del texto */
  font-size: 2.5rem; /* Tamaño de fuente */
  font-weight: bold; /* Grosor de la fuente */
  text-align: left; /* Alineación del texto al centro */
  margin-left: 6%;
  margin-bottom: 20px; /* Espacio inferior */
}

.first-container{
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-radius: 5px;
  margin:2%;
}

.container-ini {
  background-color: #fbfaff44;
  display: flex;
  flex-direction: row; /* Alinea los elementos en una fila */
  justify-content: space-between; /* Espacio igual entre los elementos */
  align-items: center; /* Alinea verticalmente al centro */
  margin:2%;
  padding-top: 10px;
  padding: 7%;
  margin-top: 20px;
  border-radius: 10px;
}

.temperature-box{
  background-color: #14399e;
  border-radius: 10px;
  color:antiquewhite;
  text-align: center;
  margin-left: 4px;
  padding: 2%;
}

.graphics-box {
  background-color: white;
  margin: 3%;
  margin-top: 5%;
  padding: 2%;
  border-radius: 15px;
  align-items: center;
}

.box-title {
  text-align: center;
  color:#333;
}

.select-list {
  padding: 0%;
  max-width: 33%;
  margin: 9px;
  margin-left: 65%;
  border-radius: 5px;
}

.select-time:not(.select-placeholder) {
  /* Tus estilos aquí */
  display: block;
  text-align: right;
  align-items: right;
  align-content: right;
  padding-left: 40%;
}