<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <!-- Lista de botones en el menú -->
    <ion-list>
      <ion-item button href="/graphics">
        <ion-label>Graphics</ion-label>
      </ion-item>
      <ion-item button href="/management">
        <ion-label>Management</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Graphics</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="login-page">
  <div class="background">
    <!-- Fondo con gradiente -->
  </div>
  <div class="content">
    <!-- Recuadro blanco con placeholders y botones -->
    <div class="form-box">
      <ion-fab >
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-list-header>
        <ion-title>Usuarios</ion-title>
      </ion-list-header>
      <ion-list>
        <ion-item [button]="true" *ngFor="let user of users" (click)="openActionSheet()">
          <ion-label class="username" >{{ user.username }}</ion-label>
          <ion-label class="isEnabled">{{ user.isEnabled }}</ion-label>
          <ion-label class="isAdmin" >{{ user.isAdmin }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>

    </div>
  </div>

</ion-content>
