<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y condiciones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="tyc-page">

  <div class="content">
    <p style="text-align: center; font-size: 120%; margin-left: 8%; margin-right: 8%; font-weight: bold">Términos y Condiciones de Uso - Registro de Empleado</p>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Bienvenido al sistema de visualización de sensores de Grupo Codan. Antes de utilizar nuestros servicios, le solicitamos que lea detenidamente los siguientes términos y condiciones. El acceso y uso de este sistema están sujetos a la aceptación y cumplimiento de estos términos. Al registrarse y utilizar nuestros servicios, usted acepta quedar legalmente vinculado por estos términos y condiciones.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      1. Descripción del Servicio:
    
      Grupo Codan ofrece a sus empleados acceso a un sistema de visualización de sensores instalados en nuestras instalaciones de fabricación de alimentos. Este sistema monitorea y registra diversos parámetros, como la temperatura, humedad y otros factores relevantes para la producción de alimentos.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      2. Registro del Empleado:
    
      Para acceder al sistema, los empleados deben registrarse utilizando su información personal proporcionada por la empresa, como el nombre de usuario y la contraseña. Es responsabilidad del empleado mantener la confidencialidad de esta información de inicio de sesión y notificar a Grupo Codan de cualquier uso no autorizado de su cuenta.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      3. Uso Aceptable:
    
      Los empleados solo pueden acceder al sistema de visualización de sensores con el propósito de cumplir con sus responsabilidades laborales. No se permite el acceso no autorizado o el uso indebido del sistema con fines no relacionados con el trabajo.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      4. Propiedad Intelectual:
    
      Todo el contenido, incluidos los datos, gráficos, diseños y demás material proporcionado a través del sistema, son propiedad exclusiva de Grupo Codan o sus licenciantes. Los empleados no tienen derecho a reproducir, modificar, distribuir o utilizar de otra manera dicho contenido sin autorización.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      5. Privacidad y Protección de Datos:
    
      Grupo Codan se compromete a proteger la privacidad de los datos de los empleados. La información recopilada a través del sistema de visualización de sensores se utilizará únicamente con fines laborales y de seguridad. No se compartirá con terceros sin el consentimiento del empleado, excepto cuando sea requerido por ley.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      6. Responsabilidad del Usuario:
    
      Los empleados son responsables de cualquier acción realizada a través de su cuenta de usuario. Grupo Codan no será responsable de ningún daño o pérdida derivada del uso indebido del sistema por parte del empleado.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      7. Suspensión o Terminación del Servicio:
    
      Grupo Codan se reserva el derecho de suspender o terminar el acceso al sistema de visualización de sensores en cualquier momento y por cualquier motivo, sin previo aviso.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      8. Modificaciones de los Términos y Condiciones:
    
      Grupo Codan se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Se notificará a los empleados sobre cualquier cambio mediante la publicación de una versión actualizada en el sistema.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Al utilizar el sistema de visualización de sensores, usted reconoce y acepta estos términos y condiciones en su totalidad. Si tiene alguna pregunta o inquietud sobre estos términos, comuníquese con el departamento de recursos humanos de Grupo Codan.
    </ion-label>

    <hr>
    <hr>
    <p style="text-align: center; font-size: 120%; margin-left: 8%; margin-right: 8%; font-weight: bold">Código de conducta</p>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      El presente Código de Conducta tiene como finalidad, y además de atender el actual entorno normativo, reafirmar los principios de actuación y valores que han de regir la actividad empresarial y actuaciones de todas las personas, físicas y jurídicas, relacionadas con el Grupo Codan, y que se encuentren comprendidas dentro del perímetro de actuación del grupo, ya sean empleados, órganos de gobierno, directivos, prestadores de servicios, colaboradores, profesionales independientes, accionistas o partícipes, siendo de obligado cumplimiento para todos ellos, así como vienen obligados a colaborar para dicho cumplimiento.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Referidos principios son complementarios a la legislación establecida o que se establezca, y resulte de aplicación.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan garantiza la igualdad de trato rechazando cualquier tipo de discriminación, por razón de la edad, género, raza, color, religión, orientación sexual, condición social, estado civil, nacionalidad, opinión política o responsabilidades familiares, defiende los derechos y los principios fundamentales de las personas, garantiza la seguridad y salud en el trabajo, y unas condiciones de trabajo dignas, justas, y acordes con la legislación vigente. Se vela por el cumplimiento del tiempo de trabajo y de descanso, y promueve un entorno de trabajo saludable donde no se tolera el acoso en ninguna de sus formas ni expresiones.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan, sus directivos, órganos de gobierno, empleados, y colaboradores deben actuar en todo momento comprometidos con el mantenimiento de un ambiente de trabajo seguro, con igualdad de oportunidades, y con pleno respeto a la dignidad de las personas, velando y comprometiéndose a evitar cualquier actuación o conducta de acoso, hostil, ofensiva, intimidatoria, de abuso de autoridad, o que suponga daño reputacional, debiendo ser denunciada de forma inmediata.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan garantiza la veracidad y transparencia de su información financiera de conformidad con los principios contables de aplicación, y cumple con la normativa fiscal. La información que se divulga es veraz, precisa y completa. Sus actividades y relaciones son totalmente lícitas, e intolerantes frente al fraude, no admitiéndose actuaciones que supongan el uso de la actividad empresarial para blanquear dinero, asegurando que cualquier ingreso provenga de actividades lícitas y legales, y aplicando la debida diligencia a fin de mitigar el riesgo de blanqueo de capitales y de la financiación del terrorismo.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan actúa para garantizar que sus relaciones con terceros no impliquen conflicto de intereses, rechazando cualquier situación o comportamiento de soborno, corrupción, fraude, o circunstancia que implique influencia en una decisión empresarial, así como no se realiza aprovechamiento de información, bienes o servicios en beneficio personal o de un tercero. Los directivos, empleados y colaboradores de Grupo Codan se abstendrán de realizar actuaciones en la que sus intereses personales prevalezcan sobre los intereses de Grupo Codan.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan mantiene un constante compromiso con el Medio Ambiente, asegura el correcto cumplimiento de la legislación ambiental aplicable a su actividad, actúa con respeto y protección del medio ambiente, desarrollando su actividad de forma sostenible, y adoptando medidas preventivas y activas para reducir y mejorar el impacto relacionado con su actividad, así como favorece criterios de circularidad, y promueve la reducción de emisiones y de residuos, y el aumento del reciclaje.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan garantiza el carácter confidencial de la información personal facilitada por los directivos, empleados y colaboradores, que a su vez vienen obligados a mantener secreto sobre la información que reciban, o de la que puedan disponer con dicho carácter confidencial o sensible, incluso con posterioridad a la finalización de relaciones.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Grupo Codan respeta la legislación vigente en materia de protección de datos personales, privacidad, confidencialidad y seguridad, llevando a cabo la protección de conformidad con la política de privacidad de Datos y se compromete a su no divulgación sin consentimiento expreso de los interesados, salvo que tal divulgación sea legítima según la normativa vigente.
    </ion-label>
    <hr>
    <ion-label style="text-align: justify; font-size: 80%; margin-left: 8%; margin-right: 8%">
      Los directivos, empleados y colaboradores de Grupo Codan se comprometen a guardar secreto sobre la información confidencial a la que accedan por el desarrollo de sus actividades.
    </ion-label>
    <hr>
  </div>

</ion-content>


