<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="header-general">
      <ion-title style="color:white">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="ion-item">
      <ion-item button href="/home" class="ion-item">
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item button href="/graphics" class="ion-item">
        <ion-label>Gráficos</ion-label>
      </ion-item>
      <ion-item button href="/management" *ngIf="isAdmin=='Yes'" class="ion-item">
        <ion-label>Administración</ion-label>
      </ion-item>
      <ion-item button href="/profile" class="ion-item">
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item button (click)="limpiarLocalStorage()" href="/login" class="ion-item">
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="header-general">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="login-page">
  <div class="background">
  </div>
  <div class="content">
    <div class="form-box"> 
      <ion-list-header>
        <ion-title  style="font-weight: bold" >Datos del empleado</ion-title>
      </ion-list-header>
      <ion-list>
        <ion-item>
          <ion-label class="username" style="margin: 5px 0; font-size: 160%; color: #edc40e; font-weight: bold">{{ currentUser.username }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="isEnabled" style="margin: 10px 0;">
            Cuenta: <span [ngClass]="{'enabled': currentUser.isEnabled, 'disabled': !currentUser.isEnabled}">
              {{ currentUser.isEnabled ? 'Activada' : 'Desactivada' }}
            </span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="isAdmin" style="margin: 10px 0;">
            Tipo: <span [ngClass]="{'admin': currentUser.isAdmin == 'Yes', 'noadmin': currentUser.isAdmin == 'No'}">
              {{ currentUser.isAdmin == 'Yes' ? 'Administrador' : 'Empleado' }}
            </span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="username" style="margin: 10px 0;">Fábrica: <span style="font-weight: bold; color: #ff0000;">MADRID</span></ion-label>
        </ion-item>
        
      </ion-list>
    </div>
  </div>        


</ion-content>
