<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <ion-list>
      <ion-item button href="/graphics">
        <ion-label>Graphics</ion-label>
      </ion-item>
      <ion-item button href="/management">
        <ion-label>Management</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Management</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="login-page">
  <div class="background">
  </div>
  <div class="content">
    <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons" [inputs]="alertInputs"></ion-alert>    
    <div class="form-box">  
      <ion-fab >
        <ion-fab-button (click)="openAlert()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-list-header>
        <ion-title>Usuarios</ion-title>
      </ion-list-header>
      <ion-item class="list-header">
        <ion-label class="username">Username</ion-label>
        <ion-label class="isEnabled">Enabled</ion-label>
        <ion-label class="isAdmin">Admin</ion-label>
      </ion-item>
      <ion-list>
        <ion-item [button]="true" *ngFor="let user of users" >
          <ion-label (click)="deleteAlert(user.id)" class="username" >{{ user.username }} </ion-label>
          <ion-toggle class="isEnabled" [(ngModel)]="user.isEnabled" (ionChange)="toggleUserEnabled(user)"></ion-toggle>
          <ion-toggle class="isAdmin" [(ngModel)]="user.isAdmin" (ionChange)="toggleUserAdmin(user)"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>

</ion-content>
