<ion-content class="login-page">
  <div class="background">
    <!-- Fondo con gradiente -->
  </div>

  <div class="content">
  
    <!-- Recuadro blanco con placeholders y botones -->
    <div class="form-box">
      <h1>ChefAI</h1>
      <ion-input placeholder="Nombre" class="placeholder"></ion-input>
      <ion-input placeholder="Apellido" class="placeholder"></ion-input>
      <ion-input placeholder="E-mail" class="placeholder"></ion-input>
      <ion-input placeholder="Contraseña" type="password" class="placeholder"></ion-input>
      <ion-input placeholder="Repite la contraseña" type="password" class="placeholder"></ion-input>
      <ion-button expand="block" class="submit-button-top small-button" color="primary">Regístrate</ion-button>
      <a href ="registro.page.html" class="privacidad"> Política de privacidad</a>
    </div>
  </div>
</ion-content>

