<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <ion-list>
      <ion-item button href="/graphics">
        <ion-label>Graphics</ion-label>
      </ion-item>
      <ion-item button href="/management">
        <ion-label>Management</ion-label>
      </ion-item>
      <ion-item button href="/profile">
        <ion-label>Graphics</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="background-home">
  </div>
  <div>
    <img src="assets/icon/banner-web.jpg" style="width: 100%; height: auto;">
  </div>
  <div class="row ">
  </div>
  <div class="row_codan_te_cuida">
    <div class="mitad">
      <h3 class="title_box"> CODAN TE CUIDA</h3>
      <div class="box">
        <p>
          CODAN te cuida con su línea
        </p>
        <p>
          <span> 0% azúcares añadidos, elaborada con ingredientes integrales.</span>
        </p>
        <p>
          Una gama especial para cuidarte que mantiene intacto el sabor y textura de nuestra receta original. Siéntete bien, disfrutando lo que más te gusta.
        </p>
    </div>
      <button class="button_box" onclick="window.open('https://decodanacasa.es/','_self')"> DESCUBRIR </button>
    </div>
  </div>

</ion-content>