<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button href="/home">
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item button href="/graphics">
        <ion-label>Gráficos</ion-label>
      </ion-item>
      <ion-item button href="/management">
        <ion-label>Administración</ion-label>
      </ion-item>
      <ion-item button href="/profile">
        <ion-label>Perfil</ion-label>
      </ion-item>
    <ion-item button href="/login">
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="background-home">
  </div>
  <div>
    <swiper-container
    [loop]="true"
    [pagination]="{ clickable: true }"
    class="mySwiper"
    >
      <swiper-slide>
        <div class="slide-content">
          <img src="/assets/icon/fabrica.jpg" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="assets/icon/4kk.png" />
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="assets/icon/makina.png" />
        </div>
      </swiper-slide>
  </swiper-container>
  </div>
  <div class="row ">
  </div>
  <div class="row_codan_te_cuida">
    <div class="mitad">
      <h3 class="title_box"> CODAN TE CUIDA</h3>
      <div class="box">
        <p>
          CODAN te cuida en el trabajo
        </p>
        <p>
          <span> Las mejores condiciones de trabajo, para los mejores trabajadores.</span>
        </p>
        <p>
          La gran fábrica de CODAN ofrece nuevas actualizaciones para mantener un control exhaustivo del aire y temperatura.
        </p>
    </div>
      <button class="button_box" (click)="goToGraphicsPage()"> ¡MONITORIZA! </button>
    </div>
  </div>
  <div class="row ">
  </div>
  <hr style="margin-top: 5px;">
  <hr>
  <div class="fin">
    <div onclick="window.open('https://codan.es/nuestra-historia/','_blank')">
      <img src="/assets/icon/codan baker.png " class="card-img-top" alt="...">
      <div class="card-body">
        <a> <p class="card-text">CODAN</p></a>
      </div>
    </div>
    <div onclick="window.open('https://codan.es/delegaciones/','_blank')">
      <img src="/assets/icon/mapa.png " class="card-img-top" alt="...">
      <div class="card-body">
        <a> <p class="card-text">LAS FÁBRICAS DE CODAN ACTUALIZADAS</p></a>
      </div>
    </div>
  </div>
  
  <hr style="margin-bottom: 30px;">

  <footer #footer>
    <div class="col-12 col-sm-5 text-center copyright">
      <img src="https://codan.es/wp-content/uploads/2020/01/Logo-CODAN-Footer.png" class="img-responsive slide-from-left" alt="Logo bolleria Codan">
      <p>
        <strong>© CODAN ESPAÑA S.A. Todos los derechos reservados</strong>
      </p>
  
      <a href="https://codan.es/aviso-legal/" style="color:white;">AVISO LEGAL</a>
      <a href="https://codan.es/politica-privacidad/" style="color:white;">POLÍTICA DE PRIVACIDAD</a>
      <a href="https://codan.es/politica-de-cookies/" style="color:white;">POLÍTICA DE COOKIES</a>
      <a href="https://codan.es/codigo-de-conducta/" style="white-space: nowrap; color:white;">CANAL DE COMUNICACIONES</a>
    </div>
  </footer>
  

</ion-content>